body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 24px;
    color: #106dfd;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;

    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f866ad; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #f866ad; }

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #f866ad;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li i {
    color: #106dfd;
}

li:first-letter {
    text-transform: capitalize;
}

a {
  color: #f866ad;
}

.container {
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1019.cur), auto !important;
}

.weather-app-wrapper {
    max-width: 520px;
    margin: 30px auto;
}

.weather-app {
  padding: 10px 20px 25px 20px;
    border: 1px solid #f866ad;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #f866ad;
    background-image: url("https://thumbs.gfycat.com/WhisperedExcellentCollardlizard-size_restricted.gif");
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    width: 64px;
}

.weather-temperature strong {
    color: #106dfd;
    font-size: 30px;
    font-weight: 100;
}

.celciusLink {
  color: #f866ad;
}

.weather-temperature .units {
position: relative;
font-size: 14px;
top: -10px;
color: #f866ad;
}

.weather-temperature .active {
    color:#106dfd;
    font-size: 16px;
    cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1019.cur), auto !important;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 10px;
}

.weather-forecast h3 {
    color: #f866ad;
    font-size: 13.5px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
}

.weather-forecast img {
    display: block;
    margin: 0 auto;
    width: 48px;
    padding: 5px;
}

.weather-forecast-temperature {
    text-align: center;
    color:#f866ad;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
}

.music {
    text-align: center;
    color: #f866ad;
}

.your-day {
    color: #106dfd;
}

.wantMoveRight {
    padding-left: 90px;
}

.play-btn {
    width: 40px;
    height: 40px;
    background: radial-gradient( #f866ad 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 3px #f866ad;
  }
  
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
   /* -webkit-animation: pulsate1 2s; */
    /* animation: pulsate1 2s; */
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    /* -webkit-animation-iteration-count: infinite; */
    /* animation-iteration-count: infinite; */
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
    margin: 0 auto;
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }

  .example1 {
    height: 50px;  
    overflow: hidden;
    position: relative;
   }
   .example1 h3 {
    font-size: 20px;
    color: #fddfe9;
    -webkit-text-stroke: 0.5px #f866ad;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);  
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);     
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }

   .form-control {
    border: 1px solid #106dfd;
   }
   .btn-primary {
    color: #fff;
    background-color: #106dfd;
    border-color: #106dfd;
}


   .linkGitH {
     color: #106dfd;
   }